/* The default websitte theme */
:root {
	--bg-color: #121214;
	--text-color: #ffffff;
	--bor-color: #29292D;
	--bg-bar-color: #1A1A1E;
	--bg-butten-color: #333;
}

/* The theme for light */
@media (prefers-color-scheme: light) {
	:root{
		--bg-color: #F3F3F4;
		--text-color: #000000;
		--bor-color: #D9D9DC;
		--bg-bar-color: #FBFBFB;
		--bg-butten-color: #b9b9b9;
	}
}

html, body {
	margin: 0;
	height: 100%;
	background: var(--bg-color);
	font-family: Arial, sans-serif;
}

/* HEADER */
header {
	padding: 40px;
	padding-left: 60px;
	text-align: center;
	background-color: var(--bg-bar-color);
	border-bottom: 1px solid var(--bor-color);
	color: var(--text-color);
}

header h1 {
	margin: 0;
	font-size: 40px;
}

/* FOOTER */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	padding-left: 60px;
	text-align: center;
	background-color: var(--bg-bar-color);
	border-top: 1px solid var(--bor-color);
	color: var(--text-color);
}

/* SIDEBAR */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 60px;

	background: var(--bg-bar-color);
	border-right: 1px solid var(--bor-color);

	overflow: hidden;
	transition: width 0.3s ease;

	z-index: 2000;
	box-shadow: 2px 0 10px var(--bg-color);
}

/* EXPANDED SIDEBAR */
.sidebar.active {
	width: 250px;
}

/* SIDEBAR MENU TEXT */
.sidebar h2 {
	color: var(--text-color);
	margin-left: 20px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.sidebar.active h2 {
	opacity: 1;
}

.sidebar a {
	display: block;
	color: var(--text-color);
	text-decoration: none;
	padding: 10px 20px;
	white-space: nowrap;

	opacity: 0;
	transition: opacity 0.2s ease;
}

.sidebar.active a {
	opacity: 1;
}

.sidebar.active {
	z-index: 5000;
}

/* MAIN CONTENT */
main {
	padding: 20px;
	color: var(--text-color);
	font-size: 25px;

	/* always leave space for rail */
	margin-left: 60px;
	transition: margin-left 0.3s ease;
}

/* BUTTON */
.menu-btn {
	position: fixed;
	top: 10px;
	left: 10px;

	width: 40px;
	height: 40px;

	background: var(--bg-butten-color);
	color: white;
	border: 1px solid var(--bor-color);
	cursor: pointer;
	font-size: 20px;

	border-radius: 6px;

	z-index: 6000;

	transition: left 0.3s ease;
}